Source: sedutil
Section: utils
Priority: optional
Maintainer: Enrico Weigelt, metux IT consult <info@metux.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/oss-qm/sedutil

Package: sedutil
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tool to use TCG Opal 2.0 compatible Self Encrypting Drives (SED)
 sedutil a utility to manage self encrypting drives that conform
 to the Trusted Computing Group (TCG) OPAL 2.0 SSC specification.
 .
 This program and it's accompanying Pre-Boot Authorization image
 allow you to enable the locking in SED on bios machines.
